<form {{action "addCat" on='submit'}}>
  <p>
    <label>Name: </label>
    {{input type='text' value=name}}
  </p>

  <p>
    <label>Claws: </label>
    {{input type='checkbox' checked=claws}}
  </p>

  <p>
    <label>Color: </label>
    {{input type='text' value=color}}
  </p>

  <p>
    <label>Friendly: </label>
    {{input type='checkbox' checked=freindly}}
  </p>

  <button>submit</button>
</form>

<ul>
  {{#each model as |cat|}}
    <li class="cat-list__item {{if cat.friendly "cat-list__item--nice" "cat-list__item--evil"}}" {{action "deleteCat" cat}}>
      {{ cat.name }} - {{ cat.color }}
    </li>
  {{/each}}
</ul>
{{outlet}}
